# Default ignored files
/shelf/
/workspace.xml
/copilot.data.migration.*
/copilot.data.migration.agent.xml
/copilot.data.migration.ask.xml
/copilot.data.migration.ask2agent.xml
/copilot.data.migration.edit.xml
# Editor-based HTTP Client requests
/httpRequests/
/material_theme_project_new.xml
