name: Publish Crate
on:
    release:
        types: [published]
    push:
      tags:
        - 'v[0-9]+.[0-9]+.[0-9]+'
    workflow_dispatch:
jobs:
    publish-crate:
        name: Publish Crate
        runs-on: ubuntu-latest
        steps:
        - name: Checkout sources
          uses: actions/checkout@v6

        - name: Setup toolchain
          uses: actions-rs/toolchain@v1
          with:
            toolchain: stable
            override: true

        - name: Publish crate
          uses: katyo/publish-crates@v2
          with:
            registry-token: ${{ secrets.CARGO_REGISTRY_TOKEN }}
